$font-family-base: 'Helvetica', serif
$font-size-base: 18px
$font-weight-base: 400
$line-height-base: 1.6666667
$body-color: #000
$body-bg: #fff

$text-muted: #222

$dt-font-weight: 400

$link-color: #000000
$link-hover-color: yellow
$link-decoration: none !important
$link-hover-decoration: none

$table-cell-padding: 0

$font-family-header: 'Open Sans', sans-serif
$font-family-copy: 'Quattrocento Sans', sans-serif
    
// font colors

